@import "variables.scss"

.btn-border-small {
  border: 1px solid $primary-color;
  border-radius: 20px;
  padding: 6px 8px;
  font-size: .8em;
  margin-left: 10px;
}

.post-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: left;

  li {
    margin: 0 0 2.2em 0;
  }

}

.post-list-banner {
		background-color: #666666;
		background-image: url("../img/banner.jpg");
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		color: #d8d8d8;
		padding: 14em 0;
		text-align: center;
		position: relative;
	}

.post-list__post-title {
  margin-top: 0;
  margin-bottom: .2em;
  font-size: 1.5em;
  line-height: 1.3em;

  a {
    color: $gray-darkest;

    &:hover {
      color: $hover-color;
    }

  }

}

.post-list__meta {
  display: block;
  margin: .7em 0 0 0;
  font-size: .9em;
  color: darken($gray, 2%);
}

.post-list__meta--date {
  margin-right: .5em;
  color: darken($gray, 2%);
}

.post-list__meta--tags {
  margin-left: .5em;
}

.post-list__divider {
  width: 30%;
  margin: 2.2em 0 2.1em 0;
  border-top: 1px solid $gray-light;
}
