<script src="{{ site.url }}/js/bootstrap.min.js"></script>
<script src="{{ site.url }}/js/jquery.min.js"></script>
<script src="{{ site.url }}/js/jquery.sticky.js"></script>
<script src="{{ site.url }}/js/jquery.easing.min.js"></script>
<script src="{{ site.url }}/js/jquery.scrollTo.js"></script>
<script src="{{ site.url }}/js/jquery.appear.js"></script>
<script src="{{ site.url }}/js/stellar.js"></script>
<script src="{{ site.url }}/js/nivo-lightbox.min.js"></script>
<script src="{{ site.url }}/js/custom.js"></script>
<script src="{{ site.url }}/js/css3-animate-it.js"></script>
